<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <style>
        #firstcard {
            width: 100px;
            height: 100px;
            background-color: antiquewhite;
            color: grey;
            padding: 10px 12px;
            cursor: move;
            position: relative;
        }

        #container {
            width: 300px;
            height: 300px;
            /*background-color: white;*/
        }

        .shape {
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: black;
        }
    </style>

    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../Content/normalize.css">
    <link rel="stylesheet" href="../../Content/foundation.min.css">
    <link rel="stylesheet" href="../../Content/trello.css">
    <!--<link href="../../Content/jquery-ui.css" rel="stylesheet" />-->
    <!--<script src="../Board/js/modal/iDialog.js"></script>-->
    <link rel="stylesheet" href="../../Content/iDialog.css" />
    <link rel="stylesheet" href="../../Content/modal.css" />
    <link href='../../Content/dragula.css' rel='stylesheet' type='text/css' />
    <link href='../../Content/example.css' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>

    <link rel="stylesheet" href="../../Content/dragula.css">
</head>
<body ng-cloak>
    <header>
        <div class='row'>
            <h1 class='app-name left'>Boards</h1>
        </div>
    </header>

    <!--<a href="" idialog="Editor" idialog-id="someid">Show dialog</a>-->
    <!--<aisha></aisha>-->
    <!--<div id="dxy" style="width:100px; background-color:steelblue">test</div>-->
    <!--<div id="draggable-element">Drag me!</div>-->
    <!--<span my-draggable>Drag Me</span>-->
    <!--<div class='examples'>

        <div class='parent'>
            <div class="wrapper">-->

    <div ng-controller="demoController as mc">

        <section id="lists-container red-column"
                 ng-controller="listsCtrl as listsCtrl">

            <div class="row items">
                <section class="list list-inline item"
                         ng-repeat="list in listsCtrl.lists"
                         ng-controller="listCtrl as listCtrl"
                         ng-init="init(list.id)"
                         id="list_id">
                    <h1>{{list.listName}}</h1>
                    <!--<div id="firstcard">My first card</div>
        <div ng-controller="testCtrl">
            <div id="container">
                <div class="shape" ng-draggable='dragOptions'></div>
            </div>
        </div>-->
                    <!--items-red-->
                    <section class='new-card'
                             ng-hide="listCtrl.isLongList">
                        <!--сделать скрытие, если больше 8-->
                        <form ng-submit="listCtrl.createCard(list)">
                            <input type="text"
                                   ng-model='listCtrl.cardTitle'
                                   class='card-input'
                                   placeholder='Add a card...'>
                        </form>
                    </section>

                    <div id="card"
                         class='card item-text'
                         ng-controller='cardCtrl as cardCtrl'
                         ng-repeat="card in listCtrl.getCards(list)">
                        <!--ng-dblclick="cardCtrl.hello(card)"-->
                        <!--item-text делает карточки маленькими-->

                        <div id="card2"
                             ng-show='!cardCtrl.isEditing'>
                            {{card.title}}
                            <div ng-click='cardCtrl.editCard(card)'
                                 class='edit-small edit-card hand'>
                                <!--idialog="Editor"-->
                                <!--<aisha show-on="var" ng-show="var"></aisha>-->

                            </div>
                            <div ng-click='cardCtrl.deleteCard(card)'
                                 class='remove-small remove-card hand'>
                            </div>

                        </div>

                        <div ng-if='cardCtrl.isEditing'>
                            <form ng-submit='cardCtrl.updateCard()'>
                                <input type="text"
                                       close-editing
                                       is-editing='cardCtrl.isEditing'
                                       ng-model='cardCtrl.editingCard.title'>
                                <select class="select-list"
                                        ng-model='cardCtrl.editingCard.list_id'
                                        ng-change="cardCtrl.updateCard()"
                                        ng-options="list.id as list.listName for list in listsCtrl.lists"></select>
                            </form>
                            <div><my-modal users="cardCtrl.Users" task="card" style="margin-left:50px"></my-modal></div>
                        </div>

                    </div>

                    <a ng-click="listCtrl.removeList(list)" class='hand'>
                        <div class="remove remove-list"></div>
                    </a>

                    <section class='new-card'>
                        <form ng-submit="listCtrl.createCard(list)">
                            <input type="text"                                   
                                   ng-model='listCtrl.cardTitle'
                                   class='card-input'
                                   placeholder='Add a card...'><!--add-new-task-scrolling-->
                        </form>
                    </section>

                </section>



                <!--<section class="list list-inline green-column">
                    TITLE1
                    <ol id="green" class="items-green" ng-hide="mc.loadingCount">
                        <li class="item" ng-repeat="item in mc.pageData.greenItems | orderBy : 'listIndex' track by $index" id="{{item.itemId}}">
                            <span class="item-text">{{item.itemText}}</span>
                        </li>
                    </ol>
                </section>


                <section class="list list-inline amber-column">
                    TITLE2
                    <ol id="amber" class="items-amber" ng-hide="mc.loadingCount">
                        <li class="item" ng-repeat="item in mc.pageData.amberItems | orderBy : 'listIndex' track by $index" id="{{item.itemId}}">
                            <span class="item-text">{{item.itemText}}</span>
                        </li>
                    </ol>
                </section>-->


                <section class="list new-list list-inline">
                    <form ng-submit="listsCtrl.addList()">
                        <input type="text" ng-model="listsCtrl.listName"
                               placeholder='Add a list...'>
                    </form>
                </section>
            </div>
        </section>
    <!--</div>
        </div>
    </div>-->
    <!--<script>
        new Draggable('card2');
    </script>-->


    <!--<div>--> <!--ng-controller="demoController as mc"-->

        <!--<div id="header-wrapper">
            <div id="global"></div>
        </div>

        <div class="items">
            <div class="red-column">
                <h3>Red</h3>
                <p>subtitle</p>
                <div class="loading-container" ng-show="mc.loadingCount">
                    <i class="loading fa fa-spinner fa-fw fa-spin fa-3x"></i>
                </div>
                <ul id="red" class="items-red" ng-hide="mc.loadingCount">
                    <li class="item" ng-repeat="item in mc.pageData.redItems | orderBy : 'itemText' track by $index" id="{{item.itemId}}">
                        <span class="item-text">{{item.itemText}}</span>
                    </li>
                </ul>
            </div>
            <div class="amber-column">
                <h3>Amber</h3>
                <p>subtitle</p>
                <div class="loading-container" ng-show="mc.loadingCount">
                    <i class="loading fa fa-spinner fa-fw fa-spin fa-3x"></i>
                </div>
                <ol id="amber" class="items-amber" ng-hide="mc.loadingCount">
                    <li class="item" ng-repeat="item in mc.pageData.amberItems | orderBy : 'listIndex' track by $index" id="{{item.itemId}}">
                        <span class="item-text">{{item.itemText}}</span>
                    </li>
                </ol>
            </div>
            <div class="green-column">
                <h3>Green</h3>
                <p>subtitle</p>
                <div class="loading-container" ng-show="mc.loadingCount">
                    <i class="loading fa fa-spinner fa-fw fa-spin fa-3x"></i>
                </div>
                <ol id="green" class="items-green" ng-hide="mc.loadingCount">
                    <li class="item" ng-repeat="item in mc.pageData.greenItems | orderBy : 'listIndex'  track by $index" id="{{item.itemId}}">
                        <span class="item-text">{{item.itemText}}</span>
                    </li>
                </ol>
            </div>
        </div>-->

    </div>


    

    <footer class="primary-footer">
        <div>
            <small>&copy; 2017 IEIT KBTU </small>
        </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>

    <script type="text/javascript" src="../Board/js/app.js"></script>

    <script type="text/javascript" src='../../Scripts/dragula.min.js'></script>
    <script type="text/javascript" src='../../Scripts/example.min.js'></script>
    <!--<script type="text/javascript" src="../drag/dragulaaddition.js"></script>-->
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/71829/dragula-3.7.2.js'></script>

    <script type="text/javascript" src="../Board/js/factories/listFactory.js"></script>
    <script type="text/javascript" src="../Board/js/factories/cardFactory.js"></script>
    <script type="text/javascript" src="../Board/js/controllers/listCtrl.js"></script>
    <script type="text/javascript" src="../Board/js/controllers/listsCtrl.js"></script>
    <script type="text/javascript" src="../Board/js/controllers/cardCtrl.js"></script>
    <script type="text/javascript" src="../Board/js/directives/closeEditing.js"></script>
    <script type="text/javascript" src="../Board/js/controllers/modalCtrl.js"></script>
    <script type="text/javascript" src="../Board/js/modal/Modal.js"></script>
    <script type="text/javascript" src="../Board/js/directives/draggable.js"></script>
    <script type="text/javascript" src="js/directives/addNewTaskScrolling.js"></script>

    <!--<script type="text/javascript" src="js/directives/myDraggable.js"></script>-->
    <!--<script type="text/javascript" src="js/controllers/dataCtrl.js"></script>-->
    <!--<script type="text/javascript" src="js/modal/aisha.js"></script>-->
    <!--<script type="text/javascript" src="js/modal/complexcontroller.js"></script>
    <script type="text/javascript" src="js/modal/sampleapp.js"></script>-->
    <!-- Animation scripts are not required, but otherwise you will not see animations -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular-animate.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/animatecss/3.2.0/animate.css" />

</body>
</html>